
.fevermap-navigation-wrapper {
  width: 100%;
  height: 11%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  background: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .fevermap-navigation-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 0;
    cursor: pointer;

    &--selected {
      material-icon, p {
        color: #25a2b1;
      }
    }

    material-icon {
      font-size: 2rem;
      span {
        color: inherit;
      }
    }

    p {
      margin: 0 0 0.5rem 0;
    }
  }
}


@media only screen and (max-width: 400px) {

  .fevermap-navigation-wrapper {
    .fevermap-navigation-block {
      material-icon {
        font-size: 1.6rem;
      }
    }
  }
}

/* Navigation transitions */


.view-wrapper {
  width: 100%;
  animation-duration: 0.4s;
  animation-timing-function: linear;

  &--transitioning-to-left {
    animation-name: transition-to-left;
    position: absolute;
    top: 0;
  }

  &--transitioning-from-left {
    animation-name: transition-from-left;
    position: absolute;
    top: 0;
  }

  &--transitioning-to-right {
    animation-name: transition-to-right;
    position: absolute;
    top: 0;
  }

  &--transitioning-from-right {
    animation-name: transition-from-right;
    position: absolute;
    top: 0;
  }
}

@keyframes transition-to-left {
  0% {transform: translate(0,0)}
  100% {transform: translate(-100%, 0)}
}

@keyframes transition-from-right {
  0% {transform: translate(100%,0)}
  100% {transform: translate(0, 0)}
}

@keyframes transition-from-left {
  0% {transform: translate(-100%,0)}
  100% {transform: translate(0, 0)}
}

@keyframes transition-to-right {
  0% {transform: translate(0,0)}
  100% {transform: translate(100%, 0)}
}